.featured-movie{
    padding: 0 8rem;
    width: 100%;


    .empty {
        width: 100%;
        margin-top: 3rem;
      
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .empty h2 {
        font-size: 1.25rem;
        color: $rose-700;
        font-family: var(--font-raleway);
    }
      

    .featured-header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;

        .featured-title{
            font-size: 1.5rem;
            font-weight: 600;
        }
        .see-more{
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;
            gap: 5px;

            &-text{
                font-size: 1rem;
                font-weight: 400;
                color: $rose-700;
            }
            &-icon{
                width: 20px;
                height: 20px;
            }
        }
    }

    .movie-list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        gap: 2rem;
        
        .movie-card{
            display: grid;
            row-gap: 1rem;
            width: 250px;

            .poster{
                width: 100%;
                height: 370px;
                position: relative;


                .poster-tags{
                    
                    
                    .favorite-icon{
                        width: 30px;
                        height: 30px;
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        object-fit: cover;
                    }
                }
            }

            &-details{
                color: $gray-400;
                font-weight: 600;
            }
            &-title{
                font-size: $font-size-lg;
                font-weight: 600;
            }
            &-ratings{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .imdb{
                    display: flex;
                    align-items: center;
    
                    column-gap: $mb-0-5;
    
                    &-icon{
                        width: 35px;
                        height: 17px;
                        object-fit: cover;
                    }
                }
    
                .rotten-tomatoes{
                    display: flex;
                    align-items: center;
    
                    column-gap: $mb-0-5;
    
                    &-icon{
                        width: 16px;
                        height: 17px;
                        object-fit: cover;
                    }
                }
            }
            .genre{
                color: $gray-400;
                font-weight: 600;
            }
        }
    }
}