nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 100000;
  width: 60px;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-right: 1px solid black;
  
}

.logo {
  position: relative;
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  margin: 0 0 0 20px;
  bottom: -37px;

  & img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  &logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
  }
}

a {
  position: relative;
  color: white;
  font-size: 14px;
  display: table;
  width: 300px;
  padding: 20px;
}

.active {
  background-color: rgba(190, 18, 60, 0.1);
}
.nav-item {
  position: relative;
  top: -6px;
  margin-left: 15px;
  color: #a1a1a1;

  font-weight: bold;
}

.activetext {
  color: #be123c;
}
.nav-text {
  position: relative;

  margin-left: 45px;
}

.sidetext {
  text-align: center;
  margin: 10px;
  padding: 7px;
  border-radius: 20px;
  border: 1px solid rgba(190, 18, 60, 0.7);
  background: rgba(248, 231, 235, 0.4);

  color: black;

  & .mainsidetext {
    text-align: left;

    color: rgba(51, 51, 51, 0.8);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  & .extrasidetext {
    color: #666;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    font-weight: bold;
    margin-top: 4px;
  }

  & .playbutton {
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 30px;
    background: rgba(190, 18, 60, 0.2);
    color: #be123c;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &:hover {
      background: rgba(107, 6, 31, 0.2);
    }
  }
}

.logout {
  position: absolute;
  bottom: 0;
}

nav:hover {
  width: 150px;
  transition: all 0.5s ease;
}

//RESPONSIVITY

@media only screen and (min-width: 900px) {
  nav {
    width: 150px;
  }
}

@media only screen and (max-width: 900px) {
  .sidetext {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  nav {
    display: none;
  }
}
